Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

lifecycle-agent-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

lifecycle-agent-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

lifecycle-agent-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

lifecycle-agent-operator-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-operator-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

CNF-26059: Upstream catalog-template update (4.22.1)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Update operator bundle to remove OADP/Velero RBAC
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-25714: Update unit tests for local backup/restore
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common_test.go
  internal/backuprestore/restore_test.go
  internal/healthcheck/healthcheck_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix golangci-lint issues
  controllers/ibu_controller.go
  internal/backuprestore/common.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25711: Implement local restore logic with wave-based ordering and checksum validation
  internal/backuprestore/local_restore.go
  internal/backuprestore/restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25713: Remove OADP secret/DPA restore from lca-cli postpivot flow
  lca-cli/postpivot/postpivot.go
Due: none

CNF-25712: Update controllers to use local backup/restore
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  internal/backuprestore/mocks/mock_backuprestore.go
  internal/healthcheck/healthcheck.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25710: Implement local backup logic that interprets Velero Backup CR specs
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Regenerate mock and tidy go.mod to fix bundle-check CI
  go.mod
  internal/backuprestore/mocks/mock_backuprestore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Implement wave-based backup directories, selective status preservation, and wave-ordered restore with status subresource updates
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add Velero Restore CR parsing and backup-to-restore validation
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix backup of non-core API group resources (e.g. deployments)
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix bundle-check CI: remove trailing blank lines
  controllers/ibu_controller.go
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add Velero-compatible resource restore transformations
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix pluralizeKind to handle consonant+y endings
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix golangci-lint issues in backup/restore code
  internal/backuprestore/backup.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Use /var/lib/containers/lca-backups as backup path
  internal/backuprestore/common.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Validate backup names to prevent path traversal
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Grant cluster-admin equivalent RBAC for backup/restore operations
  bundle.Dockerfile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/rbac/role.yaml
  internal/backuprestore/common.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Fix go.mod after rebase: remove unused direct dependency
  go.mod
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix bundle-check CI: revert channel to alpha to match make bundle output
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

Remove Velero Restore watch (merged via PR #7785 during rebase)
  controllers/ibu_controller.go
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add matchExpressions parsing to label selector handling
  internal/backuprestore/common.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix rebase conflicts with tiered healthchecks (CNF-22168)
  controllers/upgrade_handlers_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Make checksum manifest mandatory and validate file coverage
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Use REST mapper for all resource types including qualified names
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add support for bootc images in lifecycle-agent
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  internal/common/consts.go
  internal/ostreeclient/mock_ostreeclient.go
  internal/ostreeclient/ostreeclient.go
  internal/prep/prep.go
  internal/prep/prep_stateroot_setup_job.go
  lca-cli/cmd/create.go
  lca-cli/cmd/ibuStaterootSetup.go
  lca-cli/cmd/root.go
  lca-cli/ibi-preparation/ibipreparation.go
  lca-cli/ipconfig/prepivot.go
  lca-cli/seedcreator/Containerfile
  lca-cli/seedcreator/Containerfile.bootc
  lca-cli/seedcreator/seedcreator.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-26342: Upstream release-config version bump (4.19.5)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-26342: Upstream catalog-template update (4.19.5)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26435: Switch runtime base image to ubi9-minimal-pqc
  .konflux/container_build_args.conf
  .konflux/lock-runtime/Dockerfile.mintmaker
  Makefile
Due: none

ci: add OLM smoke test via GitHub Actions
  .github/scripts/olm-smoke-diagnostics.sh
  .github/scripts/olm-smoke-verify.sh
  .github/workflows/olm-smoke-test.yml
Due: none

fix: close http response body and use wait.PollUntilContextTimeout in waitForEtcd
  lca-cli/ops/ops.go
  lca-cli/ops/ops_test.go
Due: none

CNF-25114: Replace shell exec with Go stdlib where possible
  lca-cli/ops/ops.go
  lca-cli/ops/ops_test.go
  lca-cli/seedcreator/seedcreator.go
Due: none

CNF-25107: Improve lca-cli help text with Long descriptions and examples
  lca-cli/cmd/create.go
  lca-cli/cmd/ibi.go
  lca-cli/cmd/initmonitor.go
  lca-cli/cmd/ipconfig/postpivot.go
  lca-cli/cmd/ipconfig/prepivot.go
  lca-cli/cmd/ipconfig/rollback.go
  lca-cli/cmd/ipconfig/root.go
  lca-cli/cmd/postpivotcmd.go
  lca-cli/cmd/restore.go
Due: none

CNF-24997: Add OLM annotation linting workflow
  .github/workflows/olm-lint.yaml
Due: none

CNF-23437: Wrap bare error returns for better debuggability
  controllers/ipc_config_handlers.go
  controllers/ipc_config_handlers_test.go
  controllers/ipc_idle_handlers.go
  controllers/ipc_idle_handlers_test.go
  controllers/ipc_rollback_handlers.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-11589: Embed commit SHA and version info into LCA binaries
  Dockerfile
  Makefile
  lca-cli/cmd/root.go
  main/main.go
  version/version.go
  version/version_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add GitHub Actions dependency updates to Dependabot config
  .github/dependabot.yml
Due: none

CNFCERT-1258: Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
