Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)

Revert "CNF-22163: embed graceful service shutdown in systemd-run reboot command"
  internal/reboot/reboot.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-26435: Switch runtime base image to ubi9-minimal-pqc
  .konflux/container_build_args.conf
  .konflux/lock-runtime/Dockerfile.mintmaker
  Makefile
Due: none

CNFCERT-1258: Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Auto-include namespaces as backup resources and add per-resource logging
  internal/backuprestore/local_backup.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Update FBC base image namespace from openshift4 to openshift5 for OCP 5.0
  .konflux/Dockerfile.catalog
  .konflux/container_build_args.conf
Due: lifecycle-agent-fbc-4-21-on-pull-request

Prevent unbound error message on macOS - macOS bash treats ${array[@]} as unbound when -u is set - Guard against this by checking the length before accessing
  hack/test-kustomize.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-26586: Update registry path from openshift4 to openshift5
  .konflux/Dockerfile.catalog
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/fbc-images-resolvable-integration-test-idms.yaml
  .konflux/container_build_args.conf
  .konflux/overlay/map_images.in.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lifecycle-agent-5-0-pull-request.yaml
  .tekton/lifecycle-agent-5-0-push.yaml
  .tekton/lifecycle-agent-operator-bundle-5-0-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-5-0-push.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-82538: Sort manifest files numerically within each group
  internal/backuprestore/restore.go
  utils/utils.go
  utils/utils_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Scope backup to apply-label resources only when annotation is present
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Remove PV spec.claimRef when Restore CR sets restorePVs: true
  internal/backuprestore/backup_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Parse and apply excludedResources/excludedClusterScopedResources
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-26586: Remove openshift4 from catalog-idms and update bundle digest
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Add GitHub Actions dependency updates to Dependabot config
  .github/dependabot.yml
Due: none

CNF-24997: Add OLM annotation linting workflow
  .github/workflows/olm-lint.yaml
Due: none

ci: add OLM smoke test via GitHub Actions
  .github/scripts/olm-smoke-diagnostics.sh
  .github/scripts/olm-smoke-verify.sh
  .github/workflows/olm-smoke-test.yml
Due: none

CNF-25107: Improve lca-cli help text with Long descriptions and examples
  lca-cli/cmd/create.go
  lca-cli/cmd/ibi.go
  lca-cli/cmd/initmonitor.go
  lca-cli/cmd/ipconfig/postpivot.go
  lca-cli/cmd/ipconfig/prepivot.go
  lca-cli/cmd/ipconfig/rollback.go
  lca-cli/cmd/ipconfig/root.go
  lca-cli/cmd/postpivotcmd.go
  lca-cli/cmd/restore.go
Due: none

fix: close http response body and use wait.PollUntilContextTimeout in waitForEtcd
  lca-cli/ops/ops.go
  lca-cli/ops/ops_test.go
Due: none

CNF-25114: Replace shell exec with Go stdlib where possible
  lca-cli/ops/ops.go
  lca-cli/ops/ops_test.go
  lca-cli/seedcreator/seedcreator.go
Due: none

test: fix broken IPC idle handler tests and add coverage for IPC config pure functions
  controllers/ipc_config_handlers_test.go
  controllers/ipc_idle_handlers_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-23437: Wrap bare error returns for better debuggability
  controllers/ipc_config_handlers.go
  controllers/ipc_config_handlers_test.go
  controllers/ipc_idle_handlers.go
  controllers/ipc_idle_handlers_test.go
  controllers/ipc_rollback_handlers.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-11589: Embed commit SHA and version info into LCA binaries
  Dockerfile
  Makefile
  lca-cli/cmd/root.go
  main/main.go
  version/version.go
  version/version_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

fix: ensure numeric sorting of manifest group directories
  utils/utils.go
  utils/utils_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

test: update ops tests for context-aware Execute interface
  lca-cli/ops/ops_test.go
Due: none

fix: add missing regexp and strconv imports in ops.go
  lca-cli/ops/ops.go
Due: none

CNF-26586: Seed catalog-template with released 4.22.0 and 4.22.1 bundles
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26586: Skip catalog-template update in FBC pipeline
  .tekton/fbc-pipeline.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request
