Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

lifecycle-agent-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

lifecycle-agent-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

lifecycle-agent-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

lifecycle-agent-operator-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-operator-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

fix: backport #8048 etcd polling cleanup
  lca-cli/ops/ops.go
  lca-cli/ops/ops_test.go
Due: none

CNF-18555: Migrate golang builder from brew to registry.redhat.io
  .konflux/container_build_args.conf
Due: none

update vendoring
  vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  vendor/github.com/openshift/api/operator/v1/types_ingress.go
  vendor/github.com/prometheus/client_golang/prometheus/collectors/go_collector_go116.go
  vendor/github.com/prometheus/client_golang/prometheus/go_collector_go116.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25714: Update unit tests for local backup/restore
  controllers/upgrade_handlers_test.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common_test.go
  internal/backuprestore/restore_test.go
  internal/healthcheck/healthcheck_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25713: Remove OADP secret/DPA restore from lca-cli postpivot flow
  lca-cli/postpivot/postpivot.go
Due: none

CNF-25712: Update controllers to use local backup/restore
  controllers/idle_handlers.go
  controllers/prep_handlers.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  internal/backuprestore/mocks/mock_backuprestore.go
  internal/healthcheck/healthcheck.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25710: Implement local backup logic that interprets Velero Backup CR specs
  internal/backuprestore/backup.go
  internal/backuprestore/common.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix golangci-lint issues
  controllers/ibu_controller.go
  internal/backuprestore/common.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25711: Implement local restore logic with wave-based ordering and checksum validation
  internal/backuprestore/local_restore.go
  internal/backuprestore/restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Update operator bundle to remove OADP/Velero RBAC
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Remove PV spec.claimRef when Restore CR sets restorePVs: true
  internal/backuprestore/backup_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Grant cluster-admin equivalent RBAC for backup/restore operations
  bundle.Dockerfile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
  config/rbac/role.yaml
  internal/backuprestore/common.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Validate backup names to prevent path traversal
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Auto-include namespaces as backup resources and add per-resource logging
  internal/backuprestore/local_backup.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Implement wave-based backup directories, selective status preservation, and wave-ordered restore with status subresource updates
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Parse Velero CRs from ConfigMaps with typed structs
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Regenerate mock and tidy go.mod to fix bundle-check CI
  internal/backuprestore/mocks/mock_backuprestore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Remove apply-label patch check from backup configmap validation
  internal/backuprestore/common.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Scope backup to apply-label resources only when annotation is present
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix bundle-check CI: revert channel to alpha to match make bundle output
  bundle.Dockerfile
  bundle/metadata/annotations.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

Add Velero-compatible resource restore transformations
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Use /var/lib/containers/lca-backups as backup path
  internal/backuprestore/common.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix go.mod after rebase: remove unused direct dependency
  go.mod
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix backup of non-core API group resources (e.g. deployments)
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Zero-pad backup resource file name prefixes for correct restore order
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add Velero Restore CR parsing and backup-to-restore validation
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix bundle-check CI: remove trailing blank lines
  controllers/ibu_controller.go
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Parse and apply excludedResources/excludedClusterScopedResources
  internal/backuprestore/common.go
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Use REST mapper for all resource types including qualified names
  internal/backuprestore/common_test.go
  internal/backuprestore/local_backup.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Remove Velero Restore watch (merged via PR #7785 during rebase)
  controllers/ibu_controller.go
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
