Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)

Fix pluralizeKind to handle consonant+y endings
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Make checksum manifest mandatory and validate file coverage
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix golangci-lint issues in backup/restore code
  internal/backuprestore/backup.go
  internal/backuprestore/local_restore.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix rebase conflicts with tiered healthchecks (CNF-22168)
  controllers/upgrade_handlers_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add matchExpressions parsing to label selector handling
  internal/backuprestore/common.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

go mod tidy after rebase onto main
  go.mod
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Update dependabot.yml
  .github/dependabot.yml
Due: none

CNF-27647: Upstream release-config version bump (4.20.6)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-27647: Upstream catalog-template update (4.20.6)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

fix: backport #9154 precache pull thread validation
  internal/precache/workload/pullImages.go
  internal/precache/workload/pullImages_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Bump google.golang.org/grpc from v1.82.1 to v1.83.2
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/hpack/encode.go
  vendor/golang.org/x/net/http2/hpack/hpack.go
  vendor/golang.org/x/net/http2/hpack/tables.go
  vendor/golang.org/x/net/http2/transport_wrap.go
  vendor/google.golang.org/grpc/clientconn.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_noplan9.go
  vendor/google.golang.org/grpc/clientconn_disconnect_reason_plan9.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/envconfig/xds.go
  vendor/google.golang.org/grpc/internal/grpcsync/callback_serializer.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/resolver/config_selector.go
  vendor/google.golang.org/grpc/internal/transport/client_stream.go
  vendor/google.golang.org/grpc/internal/transport/handler_server.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/internal/transport/transport.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/mem/buffers.go
  vendor/google.golang.org/grpc/stream.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-27805: Migrate to native Go FIPS (GOFIPS140)
  Dockerfile
Due: none

CNF-27906: Upstream release-config version bump (4.21.4)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

ci: add OLM smoke test on Kind via GitHub Actions
  .github/scripts/olm-smoke-diagnostics.sh
  .github/scripts/olm-smoke-verify.sh
  .github/workflows/olm-smoke-test.yml
Due: none

CNF-24997: Add OLM annotation linting workflow
  .github/workflows/olm-lint.yaml
Due: none

test: add unit tests for utils/validation.go
  utils/validation.go
  utils/validation_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

ACM-47065 disk sync before declaring done
  lca-cli/ibi-preparation/ibipreparation.go
Due: none

test: add unit tests for backuprestore error sentinel types
  internal/backuprestore/backup.go
  internal/backuprestore/backup_test.go
  internal/backuprestore/common.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

test: add unit tests for SeedCreator
  lca-cli/cmd/create.go
  lca-cli/seedcreator/seedcreator.go
  lca-cli/seedcreator/seedcreator_test.go
  lca-cli/seedcreator/testdata/mco-currentconfig.json
Due: none

CNF-25107: Improve lca-cli help text with Long descriptions and examples
  lca-cli/cmd/create.go
  lca-cli/cmd/ibi.go
  lca-cli/cmd/initmonitor.go
  lca-cli/cmd/ipconfig/postpivot.go
  lca-cli/cmd/ipconfig/prepivot.go
  lca-cli/cmd/ipconfig/rollback.go
  lca-cli/cmd/ipconfig/root.go
  lca-cli/cmd/postpivotcmd.go
  lca-cli/cmd/restore.go
Due: none

CNF-28120: Upstream release-config version bump (4.19.6)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-28120: Upstream catalog-template update (4.19.6)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Update skipRange lower bound to >=4.23.0
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request
