Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)

Remove fbc-fips-check-oci-ta task from Tekton pipeline configuration due to KFLUXSPRT-7023. The task was commented out to prevent execution while maintaining the configuration for future reference.
  .tekton/fbc-pipeline.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

chore(deps): update lifecycle-agent to version 4.18.3
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

chore(deps): update lifecycle-agent to version 4.14.6 and subproject commit
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

chore(deps): update lifecycle-agent to version 4.18.3 and add new bundle entry
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

chore(deps): update lifecycle-agent-operator-bundle to version 4.14.6 and add new entry for lifecycle-agent.v4.14.6
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-21917: Fix min_kube_version for OCP 4.20 (1.32.0 -> 1.33.0)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-21917: Fix min_kube_version for OCP 4.21 (1.32.0 -> 1.34.0)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-21917: Fix min_kube_version for OCP 4.22/main (1.32.0 -> 1.35.0)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

chore: update fbc-fips-check-oci-ta task image digest in Tekton pipeline configuration
  .tekton/fbc-pipeline.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

docs: fix broken cross-references in troubleshooting.md
  docs/troubleshooting.md
Due: none

docs: fix typo in HACKING.md
  HACKING.md
Due: none

docs: fix outdated Go version prerequisite in HACKING.md
  HACKING.md
Due: none

docs: overhaul README with project overview, features, and usage
  README.md
Due: none

Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  Makefile
  hack/test-kustomize.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Upgrade golangci-lint from v1 to v2
  .golangci.yml
  Makefile
Due: none

fix: ensure numeric sorting of manifest group directories
  utils/utils.go
  utils/utils_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix trailing whitespace in test-kustomize.sh
  hack/test-kustomize.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-21854: update lifecycle-agent to version 4.19.3
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-21890: update lifecycle-agent version to 4.17.3 and subproject commit
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-21890: Update lifecycle-agent version to 4.17.3 and adjust bundle references in catalog files
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-21854: Update lifecycle-agent to version 4.19.3 and adjust bundle references in catalog files
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.14.0 for release-4.16
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.16.0 for release-4.17
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.18.0 for release-4.19
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.16.0 for release-4.18
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.14.0 for release-4.14
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.18.0 for release-4.20
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.20.0 for release-4.21
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22111: Update skipRange lower bound to >=4.20.0 for main (4.22)
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Remove redundant skipRange entries for lifecycle-agent versions in catalog-template.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

docs: fix outdated Go version prerequisite in HACKING.md (#4845)
  HACKING.md
Due: none

feat: preserve cert-manager TLS certificates during image-based upgrades
  .gitignore
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/clusterconfig/certmanagerconfig.go
  internal/clusterconfig/certmanagerconfig_test.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
  internal/clusterconfig/mocks/mock_clusterconfig.go
  internal/common/consts.go
  internal/recert/recert.go
  internal/recert/recert_test.go
  lca-cli/postpivot/postpivot.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

feat: preserve cert-manager TLS certificates during image-based upgrades
  .gitignore
  .golangci.yml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/clusterconfig/certmanagerconfig.go
  internal/clusterconfig/certmanagerconfig_test.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
  internal/clusterconfig/mocks/mock_clusterconfig.go
  internal/common/consts.go
  internal/recert/recert.go
  internal/recert/recert_test.go
  lca-cli/postpivot/postpivot.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Update push-dockerfile-oci-ta task digest
  .tekton/build-pipeline.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request
