Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)

Rerun lockfile generator
  .konflux/lock-runtime/rpms.lock.yaml
Due: none

Filter warning messages from podman command
  controllers/seedgen_controller.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Log level update for additional podman commands
  internal/imagemgmt/imagemgmt.go
  internal/imagemgmt/imagemgmt_test.go
  lca-cli/ops/ops.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

test
  a.txt
Due: none

NO-ISSUE: Add patch for ipv6 bundle-run
  Makefile
  hack/bundle-run.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76416: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76430: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76429: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76428: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76427: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76426: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76425: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

OCPBUGS-76424: Align annotations.yaml and bundle labels
  .konflux/Dockerfile.bundle
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

Update OWNERS and OWNERS_ALIASES to include by2waysprojects as a reviewer and approver
  OWNERS
  OWNERS_ALIASES
Due: none

docs: fix outdated Go version prerequisite in HACKING.md
  HACKING.md
Due: none

docs: fix typo in HACKING.md
  HACKING.md
Due: none

chore: gitignore stale golangci-lint config files
  .gitignore
Due: none

docs: fix broken cross-references in troubleshooting.md
  docs/troubleshooting.md
Due: none

chore(deps): update lifecycle-agent to version 4.20.3
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-22-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-22-push.yaml
Due: none

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-21-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-21-push.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-19-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-19-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-19-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-19-push.yaml
Due: none

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-18-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-18-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-18-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-18-push.yaml
Due: none

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-14-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-14-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-14-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-14-push.yaml
Due: none

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-16-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-16-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-16-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-16-push.yaml
Due: none

ci: add BRANCH-CUT filter to Tekton pipeline CEL expressions
  .tekton/lifecycle-agent-fbc-4-17-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-17-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-17-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-17-push.yaml
Due: none

chore(deps): update lifecycle-agent-operator-bundle to new digest and add lifecycle-agent version 4.20.3
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

docs: overhaul README with project overview, features, and usage
  README.md
Due: none
