Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

lifecycle-agent-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

lifecycle-agent-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

lifecycle-agent-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

lifecycle-agent-operator-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-operator-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

Update push-dockerfile-oci-ta task digest
  .tekton/build-pipeline.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-22483: Bump 4.21 release metadata to 4.21.2
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-22495: Bump 4.16 release metadata to 4.16.6
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-22495: Update lifecycle-agent operator bundle and add v4.16.6 metadata
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-22483: update lifecycle-agent-operator-bundle to bbf6dc1
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Test
  test.md
Due: none

Red Hat Konflux purge lifecycle-agent-operator-bundle-4-17
  .tekton/lifecycle-agent-operator-bundle-4-17-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-17-push.yaml
Due: none

Red Hat Konflux purge lifecycle-agent-4-17
  .tekton/lifecycle-agent-4-17-pull-request.yaml
  .tekton/lifecycle-agent-4-17-push.yaml
Due: none

Red Hat Konflux purge lifecycle-agent-fbc-4-17
  .tekton/lifecycle-agent-fbc-4-17-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-17-push.yaml
Due: none

MGMT-23772: Add missing MC files to the new stateroot
  .gitignore
  lca-cli/ipconfig/prepivot.go
  lca-cli/ipconfig/prepivot_test.go
  lca-cli/seedcreator/seedcreator.go
  utils/utils.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Dummy PR with no changes to test CI
  dummy
Due: none

Avoid using `lb-ext.kubeconfig` for seedgen cleanup
  controllers/seedgen_controller.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNFCERT-1258: Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  .golangci.yml
  Makefile
  hack/test-kustomize.sh
  internal/clusterconfig/lvmconfig.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Update seedgen_controller.go
  controllers/seedgen_controller.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

replaced the deprecated call in main.go
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

OCPBUGS-77924: cleanup orphaned boot entries in IPC
  controllers/ipc_idle_handlers.go
  controllers/ipc_idle_handlers_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-22981: update renovate labels and git-submodules config
  renovate.json
Due: none

[BRANCH-CUT] Bump version 4.22 -> 5.0 on main
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container_build_args.conf
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lifecycle-agent-5-0-pull-request.yaml
  .tekton/lifecycle-agent-5-0-push.yaml
  .tekton/lifecycle-agent-fbc-5-0-pull-request.yaml
  .tekton/lifecycle-agent-fbc-5-0-push.yaml
  .tekton/lifecycle-agent-operator-bundle-5-0-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-5-0-push.yaml
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

[BRANCH-CUT] Prepare release-4.22: replace main with release-4.22 in Tekton pipelines
  .tekton/lifecycle-agent-4-22-pull-request.yaml
  .tekton/lifecycle-agent-4-22-push.yaml
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
  .tekton/lifecycle-agent-operator-bundle-4-22-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-4-22-push.yaml
Due: none

CNF-23135: Upstream release-config version bump (4.19.3)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-23147: Upstream release-config version bump (4.20.3)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-23159: Upstream release-config version bump (4.18.3)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-23184: Upstream release-config version bump (4.16.6)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-23135: Upstream catalog-template update (4.19.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-23147: Upstream catalog-template update (4.20.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-23159: Upstream catalog-template update (4.18.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
