Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

lifecycle-agent-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

lifecycle-agent-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

lifecycle-agent-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

lifecycle-agent-operator-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-operator-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

Update controllers for deprecated event recorder use
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/rbac/role.yaml
  controllers/ibu_controller.go
  controllers/ipc_idle_handlers_test.go
  controllers/rollback_handlers.go
  controllers/rollback_handlers_test.go
  controllers/seedgen_controller.go
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Update golangci version and suppress new minor warnings
  Makefile
  controllers/ipc_config_handlers.go
  controllers/ipc_rollback_handlers.go
  controllers/seedgen_controller.go
  controllers/utils/conditions.go
  internal/ostreeclient/ostreeclient.go
  lca-cli/seedcreator/seedcreator.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Switch to lvm main branch for go 1.25.8
  go.mod
  go.sum
  vendor/github.com/openshift/lvm-operator/v4/api/v1alpha1/lvmcluster_types.go
  vendor/github.com/openshift/lvm-operator/v4/api/v1alpha1/lvmcluster_webhook.go
  vendor/github.com/openshift/lvm-operator/v4/api/v1alpha1/lvmvolumegroupnodestatus_types.go
  vendor/github.com/openshift/lvm-operator/v4/api/v1alpha1/zz_generated.deepcopy.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-24652: Upstream release-config version bump (4.21.3)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-24652: Upstream catalog-template update (4.21.3)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-24691: Upstream release-config version bump (4.20.5)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-24691: Upstream catalog-template update (4.20.5)
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-24691: Upstream catalog-template update (4.20.5)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-24248: Upstream release-config version bump (4.22.0)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-24248: Upstream catalog-template update (4.22.0)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-11589: Embed commit SHA and version info into LCA binaries
  Dockerfile
  Makefile
  lca-cli/cmd/root.go
  main/main.go
  version/version.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add GitHub Actions dependency updates to Dependabot config
  .github/dependabot.yml
Due: none

CNF-23437: Wrap bare error returns for better debuggability
  controllers/ipc_config_handlers.go
  controllers/ipc_idle_handlers.go
  controllers/ipc_rollback_handlers.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/lvmconfig.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add `.kaiden/` to `.gitignore - This folders is used by the Kaiden tool to contain local user settings
  .gitignore
Due: none

CNF-22690: Enable `AllNamespaces` install mode for OLMv1 - OLMv1 requires us to support the `AllNamesspaces` install mode, so we must enable it in the CSV
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-24997: Add OLM annotation linting workflow
  .github/workflows/olm-lint.yaml
Due: none

CNFCERT-1258: Add kustomize validation check
  .github/workflows/kustomize-validation.yml
  .golangci.yml
  Makefile
  hack/test-kustomize.sh
  internal/clusterconfig/lvmconfig.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-25102: Upstream release-config version bump (4.16.7)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-25102: Upstream catalog-template update (4.16.7)
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-25102: Update bundle.builds.in.yaml for 4.16.7
  .konflux/catalog/bundle.builds.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Add gdisk package to fix sgdisk executable not found error
  Dockerfile
Due: none

Add properly signed cert back for the metrics endpoint
  bundle/manifests/lifecycle-agent-controller-manager-metrics-service_v1_service.yaml
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/manager.yaml
  config/rbac/metrics_service.yaml
  main/main.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Replace sgdisk with sfdisk for partition creation
  lca-cli/ops/ops.go
Due: none

Fix CRI-O startup delays during seedgen restoration
  lca-cli/ops/ops.go
Due: none

Skip architecture-incompatible images during precaching
  internal/precache/helper.go
  internal/precache/progress.go
  internal/precache/workload/pullImages.go
  internal/precache/workload/pullImages_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-25262: Add configurable timeout to run bundle - Sometimes it takes a bit of extra time to finish progressing, so we should wait a few minutes instead of failing CI entirely
  hack/bundle-run.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-22690: Fix linter warning - The recently updated linter has exposed a new warnings here for SA4023 - Resolve the newly exposed warnings
  internal/reboot/reboot.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-22690: Update Makefile & hack script - Add logic for running in both OwnNamespace and AllNamespaces mode - Add cleanup script to call from Make so it can also handle the more complicated setup
  Makefile
  hack/bundle-clean.sh
  hack/bundle-run.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-22690: Update operator-sdk to v1.42.2 - 1.40.0 is kinda old - I think this may improve the cleanup for AllNamespaces
  .konflux/Dockerfile.bundle
  Makefile
  bundle.Dockerfile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  bundle/metadata/annotations.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

hack/bundle-run: increase SA wait timeout from 30s to 15m
  hack/bundle-run.sh
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
