Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)

CNF-24997: Add OLM annotation linting workflow
  .github/workflows/olm-lint.yaml
Due: none

CNF-23437: Wrap bare error returns for better debuggability
  controllers/ipc_config_handlers.go
  controllers/ipc_config_handlers_test.go
  controllers/ipc_idle_handlers.go
  controllers/ipc_idle_handlers_test.go
  controllers/ipc_rollback_handlers.go
  internal/clusterconfig/clusterconfig.go
  internal/clusterconfig/clusterconfig_test.go
  internal/clusterconfig/lvmconfig.go
  internal/clusterconfig/lvmconfig_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add GitHub Actions dependency updates to Dependabot config
  .github/dependabot.yml
Due: none

OCPBUGS-103800: replace golang.org/x/net with openshift-sustaining/net@v0.50.0-sec.4
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/client_priority_go126.go
  vendor/golang.org/x/net/http2/client_priority_go127.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/internal/httpsfv/httpsfv.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

OCPBUGS-103586: replace golang.org/x/net with openshift-sustaining/net@v0.43.0-sec.4
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

OCPBUGS-103358: replace golang.org/x/net with openshift-sustaining/net@v0.35.0-sec.4
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

OCPBUGS-102903: replace golang.org/x/net with openshift-sustaining/net@v0.35.0-sec.4
  go.mod
  go.sum
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/http2/writesched_priority.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

OCPBUGS-102485: replace golang.org/x/net with openshift-sustaining/net@v0.35.0-sec.4
  go.mod
  go.sum
  vendor/golang.org/x/net/LICENSE
  vendor/golang.org/x/net/http2/client_conn_pool.go
  vendor/golang.org/x/net/http2/config.go
  vendor/golang.org/x/net/http2/config_go124.go
  vendor/golang.org/x/net/http2/config_pre_go124.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/testsync.go
  vendor/golang.org/x/net/http2/timer.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/unencrypted.go
  vendor/golang.org/x/net/http2/write.go
  vendor/golang.org/x/net/http2/writesched_priority.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/internal/httpcommon/ascii.go
  vendor/golang.org/x/net/internal/httpcommon/headermap.go
  vendor/golang.org/x/net/internal/httpcommon/request.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Add unit tests for SeedCreator with testability refactor
  lca-cli/cmd/create.go
  lca-cli/seedcreator/seedcreator.go
  lca-cli/seedcreator/seedcreator_test.go
  lca-cli/seedcreator/testdata/mco-currentconfig.json
Due: none

fix: gofmt seedcreator_test.go for bundle-check CI
  lca-cli/seedcreator/seedcreator_test.go
Due: none

CNF-26800: Split FBC catalogs into 4.22 and 5.0 directories
  .konflux/Dockerfile.catalog.4.22
  .konflux/catalog/.gitignore
  .konflux/catalog/4.22/catalog-idms.yaml
  .konflux/catalog/4.22/catalog-template.in.yaml
  .konflux/catalog/4.22/lifecycle-agent/.gitkeep
  .konflux/catalog/5.0/bundle.builds.in.yaml
  .konflux/catalog/5.0/catalog-idms.yaml
  .konflux/catalog/5.0/catalog-template.in.yaml
  .konflux/catalog/5.0/lifecycle-agent/.gitkeep
  .konflux/catalog/README.md
  .tekton/fbc-pipeline.yaml
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
  .yamllint.yaml
  Makefile
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26800: Point 4.22 FBC PipelineRuns at release-5.0
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
Due: none

CNF-26908: Build the 4.22 catalog as lifecycle-agent-fbc-5-0
  .konflux/catalog/README.md
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26800: Remove catalog files from the old .konflux/catalog root
  .konflux/catalog/5.0/bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/lifecycle-agent/.gitkeep
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26908: Gate 4.22 FBC PipelineRuns on [NEW-4-22-BUNDLE]
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
Due: none

CNF-25419: Upstream catalog-template update (4.18.5)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

tekton: update fbc-fips-check-oci-ta task digest for 5.1 support
  .tekton/fbc-pipeline.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

ci: add OLM smoke test on Kind via GitHub Actions
  .github/scripts/olm-smoke-diagnostics.sh
  .github/scripts/olm-smoke-verify.sh
  .github/workflows/olm-smoke-test.yml
Due: none

CNF-25107: Improve lca-cli help text with Long descriptions and examples
  lca-cli/cmd/create.go
  lca-cli/cmd/ibi.go
  lca-cli/cmd/initmonitor.go
  lca-cli/cmd/ipconfig/postpivot.go
  lca-cli/cmd/ipconfig/prepivot.go
  lca-cli/cmd/ipconfig/rollback.go
  lca-cli/cmd/ipconfig/root.go
  lca-cli/cmd/postpivotcmd.go
  lca-cli/cmd/restore.go
Due: none

fix: validate precache pull thread count
  internal/precache/workload/pullImages.go
  internal/precache/workload/pullImages_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Update vendoring
  vendor/github.com/go-openapi/swag/jsonname/LICENSE
  vendor/github.com/go-openapi/swag/jsonname/doc.go
  vendor/github.com/go-openapi/swag/jsonname/go_name_provider.go
  vendor/github.com/go-openapi/swag/jsonname/ifaces.go
  vendor/github.com/go-openapi/swag/jsonname/name_provider.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/decode.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/encode.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/pools.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/state.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/token.go
  vendor/k8s.io/kube-openapi/pkg/internal/third_party/go-json-experiment/json/value.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-22168: Implement tiered health checks for PostPivot
  controllers/upgrade_handlers.go
  controllers/upgrade_handlers_test.go
  internal/healthcheck/healthcheck.go
  internal/healthcheck/healthcheck_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

Fix go fmt indentation in healthcheck tests
  internal/healthcheck/healthcheck_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

CNF-27186: Upstream release-config version bump (4.22.2)
  .konflux/overlay/release.in.yaml
Due: lifecycle-agent-operator-bundle-4-21-on-pull-request

CNF-27186: Upstream catalog-template update (4.22.2)
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

[NEW-4-22-BUNDLE] Add lifecycle-agent 4.22.2 to the 4.22 FBC
  .konflux/catalog/4.22/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Add lifecycle-agent 4.22.2 to the 5.0 FBC
  .konflux/catalog/5.0/catalog-template.in.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

test: add unit tests for SeedCreator
  lca-cli/cmd/create.go
  lca-cli/seedcreator/seedcreator.go
  lca-cli/seedcreator/seedcreator_test.go
  lca-cli/seedcreator/testdata/mco-currentconfig.json
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

fix: backport #8048 etcd polling cleanup
  lca-cli/ops/ops.go
  lca-cli/ops/ops_test.go
Due: none
