Repository openshift-kni/lifecycle-agent: changes, and which Tekton pipelines are due for each by the changed paths.
All: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

lifecycle-agent-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
    - linux/x86_64
  ...

lifecycle-agent-4-21-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-4-21:{{revision}}
  - name: build-platforms
    value:
    - linux/x86_64
    - linux/arm64
  - name: dockerfile
  ...

lifecycle-agent-fbc-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-fbc-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

lifecycle-agent-operator-bundle-4-21-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/telco-5g-tenant/lifecycle-agent-operator-bundle-4-21:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: build-platforms
    value:
  ...

Revert "Merge pull request #8624 from by2waysprojects/CNF-26586-catalog-template-4.22"
  .konflux/catalog/catalog-template.in.yaml
  .tekton/fbc-pipeline.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

OCPBUGS-82538: Sort manifest files numerically within each group
  internal/backuprestore/restore.go
  utils/utils.go
  utils/utils_test.go
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

docs: add IBI root-disk encryption (TPM2) enhancement proposal
  docs/enhancements/ibi-disk-encryption-design.md
Due: none

Sort OWNERS_ALIASES users - Sort each category alphabetically
  OWNERS_ALIASES
Due: none

Add myself to approvers list in OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Drop `mresvanis` from OWNERS_ALIASES - They are not in the org or a collaborator so they bot will not allow them to be in the file
  OWNERS_ALIASES
Due: none

[BRANCH-CUT] Bump to 5.1 and prepare release-5.0
  .ci-operator.yaml
  .konflux/Dockerfile.bundle
  .konflux/Dockerfile.catalog
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/container_build_args.conf
  .konflux/overlay/pin_images.in.yaml
  .konflux/overlay/release.in.yaml
  .tekton/build-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/lifecycle-agent-5-1-pull-request.yaml
  .tekton/lifecycle-agent-5-1-push.yaml
  .tekton/lifecycle-agent-fbc-5-1-pull-request.yaml
  .tekton/lifecycle-agent-fbc-5-1-push.yaml
  .tekton/lifecycle-agent-operator-bundle-5-1-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-5-1-push.yaml
  Makefile
  bundle/manifests/lifecycle-agent.clusterserviceversion.yaml
  config/manager/kustomization.yaml
  config/manifests/bases/lifecycle-agent.clusterserviceversion.yaml
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push, lifecycle-agent-fbc-4-21-on-pull-request, lifecycle-agent-operator-bundle-4-21-on-pull-request

[BRANCH-CUT] Prepare release-5.0 branch
  .konflux/catalog/catalog-template.in.yaml
  .tekton/lifecycle-agent-5-0-pull-request.yaml
  .tekton/lifecycle-agent-5-0-push.yaml
  .tekton/lifecycle-agent-fbc-5-0-pull-request.yaml
  .tekton/lifecycle-agent-fbc-5-0-push.yaml
  .tekton/lifecycle-agent-operator-bundle-5-0-pull-request.yaml
  .tekton/lifecycle-agent-operator-bundle-5-0-push.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Copy OWNERS_ALIASES from main branch - Re-align the owners configuration with `main`
  OWNERS_ALIASES
Due: none

docs: add USB-based self-contained IBI proposal
  docs/enhancements/usb-ibi.md
Due: none

docs: reword rejected on-node registry alternative
  docs/enhancements/usb-ibi.md
Due: none

docs: prune usb-ibi enhancement to reduce file size
  docs/enhancements/usb-ibi.md
Due: none

docs(usb-ibi): address CodeRabbit findings (re-entry guard, mirror rejection, store handoff, result-writer unit, p4 fs)
  docs/enhancements/usb-ibi.md
Due: none

docs(usb-ibi): address four CodeRabbit findings + RTC phase criteria
  docs/enhancements/usb-ibi.md
Due: none

CNF-26800: Split FBC catalogs into 4.22 and 5.0 directories
  .konflux/Dockerfile.catalog.4.22
  .konflux/catalog/.gitignore
  .konflux/catalog/4.22/catalog-idms.yaml
  .konflux/catalog/4.22/catalog-template.in.yaml
  .konflux/catalog/4.22/lifecycle-agent/.gitkeep
  .konflux/catalog/5.0/bundle.builds.in.yaml
  .konflux/catalog/5.0/catalog-idms.yaml
  .konflux/catalog/5.0/catalog-template.in.yaml
  .konflux/catalog/5.0/lifecycle-agent/.gitkeep
  .konflux/catalog/README.md
  .tekton/fbc-pipeline.yaml
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
  .yamllint.yaml
  Makefile
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26800: Remove catalog files from the old .konflux/catalog root
  .konflux/catalog/5.0/bundle.builds.in.yaml
  .konflux/catalog/bundle.builds.in.yaml
  .konflux/catalog/catalog-idms.yaml
  .konflux/catalog/catalog-template.in.yaml
  .konflux/catalog/lifecycle-agent/.gitkeep
Due: lifecycle-agent-fbc-4-21-on-pull-request

CNF-26800: Point 4.22 FBC PipelineRuns at release-5.0
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
Due: none

CNF-26908: Build the 4.22 catalog as lifecycle-agent-fbc-5-0
  .konflux/catalog/README.md
  .tekton/lifecycle-agent-fbc-4-22-pull-request.yaml
  .tekton/lifecycle-agent-fbc-4-22-push.yaml
Due: lifecycle-agent-fbc-4-21-on-pull-request

Add GitHub Action for selective cherry-pick from release-5.0 to release-4.23
  .github/workflows/cherry-pick-to-4-23.yml
Due: none

docs(usb-ibi): fix verdict-ownership defect, reconcile import/re-entry consistency
  docs/enhancements/usb-ibi.md
Due: none

OCPBUGS-104003: replace golang.org/x/net with openshift-sustaining/net@v0.50.0-sec.4
  go.mod
  go.sum
  vendor/golang.org/x/net/http2/client_priority_go126.go
  vendor/golang.org/x/net/http2/client_priority_go127.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/net/http2/http2.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/golang.org/x/net/idna/idna10.0.0.go
  vendor/golang.org/x/net/internal/httpsfv/httpsfv.go
  vendor/modules.txt
Due: lifecycle-agent-4-21-on-pull-request, lifecycle-agent-4-21-on-push

docs: address CodeRabbit review and fix markdownlint
  docs/enhancements/ibi-disk-encryption-design.md
Due: none

docs: address CodeRabbit follow-up on install-time gates
  docs/enhancements/ibi-disk-encryption-design.md
Due: none

ci: add OLM smoke test on Kind via GitHub Actions
  .github/scripts/olm-smoke-diagnostics.sh
  .github/scripts/olm-smoke-verify.sh
  .github/workflows/olm-smoke-test.yml
Due: none

Path conditions:
  lifecycle-agent-4-21-on-pull-request: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-pull-request.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-4-21-on-push: (((((((((((((((((any of: .konflux/Dockerfile) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-4-21-push.yaml)) or (any of: api/***)) or (any of: config/***)) or (any of: controllers/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: hack/***)) or (any of: internal/***)) or (any of: lca-cli)) or (any of: main/***)) or (any of: must-gather/***)) or (any of: pkg/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)) or (any of: utils/***)) or (any of: vendor/***)
  lifecycle-agent-fbc-4-21-on-pull-request: ((((((any of: .konflux/catalog/***) or (any of: .konflux/Dockerfile.catalog)) or (any of: .tekton/fbc-pipeline.yaml)) or (any of: .tekton/images-mirror-set.yaml)) or (any of: .tekton/lifecycle-agent-fbc-4-21-pull-request.yaml)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
  lifecycle-agent-operator-bundle-4-21-on-pull-request: (((((((((any of: .konflux/Dockerfile.bundle) or (any of: .konflux/overlay/***)) or (any of: .tekton/build-pipeline.yaml)) or (any of: .tekton/lifecycle-agent-operator-bundle-4-21-pull-request.yaml)) or (any of: bundle/***)) or (any of: config/***)) or (any of: hack/***)) or (any of: manifests/***)) or (any of: telco5g-konflux)) or (any of: telco5g-konflux/***)
